button {
    border: solid #778DA9;
    background-color: #778DA9;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #1B263B;
}

.equals {
    grid-column: 3 / 5;
    background-color: #1B263B;
}

.equals:hover {
    background-color: #0D1B2A;
}
